package ui

import "reflect"

templ SubmitEntityForm(entityType reflect.Type) {
	<form method="post" action={ templ.SafeURL("/api/entities/" + entityType.Name()) }>
		for i := 0; i < entityType.NumField(); i++ {
			<label for={ entityType.Field(i).Name }>{ entityType.Field(i).Name } </label>
			<input type="text" id={ entityType.Field(i).Name } name={ entityType.Field(i).Name } placeholder={ entityType.Field(i).Type.Name() }/>
			<br/>
		}
		<button type="submit">Submit</button>
	</form>
}
